alias g="git"
alias ga="git add"
alias gco="git checkout"
alias gd="git diff"
alias gst="git status"
alias l='ls -lFh'
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'
alias ~='cd ~'
alias ll='ls -l'
alias la='ls -al'
alias d='cd ~/Desktop'
alias v='vim'
