
# Create a new directory and enter it
function md() {
  mkdir -p "$@" && cd "$@"
}

# Escape UTF-8 characters into their 3-byte format
function escape() {
  printf "\\\x%s" $(printf "$@" | xxd -p -c1 -u)
  echo # newline
}

# Decode \x{ABCD}-style Unicode escape sequences
function unidecode() {
  perl -e "binmode(STDOUT, ':utf8'); print \"$@\""
  echo # newline
}

# sublime
function sblm() {
  open -a Sublime\ Text $*;
}

# vscode
function code() {
  open -a Visual\ Studio\ Code $*;
}

# atom
function atom() {
  open -a Atom $*;
}

# git
## The name of the current branch
function current_branch() {
  git_current_branch
}

## The list of remotes
function current_repository() {
  if ! $_omz_git_git_cmd rev-parse --is-inside-work-tree &> /dev/null; then
    return
  fi
  echo $($_omz_git_git_cmd remote -v | cut -d':' -f 2)
}

# open memo in vscode
function memo() {
  echo -e '\e[34;1mpulling latest... \e[m'
  cd ~/workspace/memo
  ggpull
  cd -
  open -a Visual\ Studio\ Code ~/workspace/memo;
}

function o() {
  if [ "$1" = "" ]; then
    open .
  else
    open "$1"
  fi
}

# npm
function n() {
  echo -e "\e[30;1m> npm $* \e[m"
  npm $*;
}

# npm
function ni() {
  echo -e "\e[30;1m> npm install \e[m"
  npm install;
}

# npm run
function nr() {
  echo -e "\e[30;1m> npm run $* \e[m"
  npm run $*;
}
